<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>留言板</title>
    <link rel="stylesheet" href="../public/css/main.css">
</head>
<body>
    <h1 class="title">简易留言板</h1>
    <div class="content_wrapper">
        <div class="ctrl_bar"><button class="normal_button">发表留言</button></div>
        <div>
            <ul class="message_item">
                <li>first</li>
                <li>second</li>
                <li>first</li>
                <li>second</li>
            </ul>
        </div>
    </div>
</body>
</html>